.SearchUl {
    list-style: none;
    display: flex;   
}

.relSearch {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 6px;
}

.relKeywords{
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 10%; 
}

.relKeywords li {
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}

.filterWrap{
    margin-left: 20px;
}

.selectTypeGenFilter{
    width: 150px;
    height: 30px;
}

.tableWrap {
    position: relative; 
    z-index: 1;
}

.listTable {
    width: 100%;
    border-spacing: 15px;
    border-collapse: collapse;
}

.listTr{
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}

.listTrNone{
    text-align: center;
}

.tablePartTh {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
}

.tablePartTd {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


///////

.contentWrap {
    display: flex;
}

.contentImgContainer{
    width: 50%;   
}

.contentImg {
    width: 100%;
}

.contentInfoNoContainer {
    font-size: 45px;
    margin: 0;
}

.contentInfoNo {
    margin: 0;
    font-size: 22px;
    color: #999;
}

.contentInfoTypeContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentInfoType {
    background: #9E2A22;
    padding: 10px;
    margin-right: 5px;
    color: #fff;
    font-weight: 500;
}

.contentInfoStatWrap {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
}

.contentInfoStat {
    &:nth-child(even) {
        font-size: 25px;
        font-weight: 1000;
    }
    
    &:nth-child(odd) {
        font-size: 20px;
        font-weight: 500;
    }
}
 
.contentInfoEvolutionContainer {
    display: flex;
    margin-top: 20px;
}

.contentInfoEvolutionName {
    text-align: center;
}
