.SearchUl {
    list-style: none;
    display: flex;   
}

.relSearch {
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 6px;
}

.relKeywords{
    list-style: none;
    margin-right: 30px;
}

.filterWrap{
    margin-left: 20px;
}

.selectTypeGenFilter{
    width: 150px;
    height: 30px;
}

.listTable {
    width: 100%;
    border-spacing: 15px;
}

.listTr{
    text-align: center;
    cursor: pointer;
}

.listTrNone{
    text-align: center;
}